.footer {
  height: 20vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  height: 5vh;
  width: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: padding 1s ease, background-color .75s ease;
}
.footer a:hover {
  background-color: white;
  padding: 2vh;
}
.footer img {
  height: 5vh;
  width: auto;
}