.header {
  background-color: black;
  color: white;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header h1 {
  font-family: HeaderFont;
  font-size: 4.5vw;
  margin-top: 1vh;
  margin-left: 2vw;
  cursor: pointer;
  align-self: flex-start;
}
header div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -30vh;
  background-position-x: center;
  height: 50vh;
  width: 100vw;
  transition: background-image 3s ease;
}
.header nav {
  margin: 1vh;
  width: 40vw;
  display: flex;
  justify-content: space-around;
}
.header nav a {
  text-decoration: none;
  font-size: 1.8vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: background-color 1s ease, color 1s ease;
  color: white;
  border-radius: 2vh;
  padding: 1vh;
}
.header nav a:hover {
  background-color: white;
  color: black;
}